<div style="text-align:center">
<h1>Get posts</h1>
<!--
    //This programming statement was adapted from W3resource:
    //Link: https://www.w3resource.com/angular/dynamic-forms.php
    //Author: W3resource
-->
<form (ngSubmit)="GetPosts(GetPost)" #GetPost="ngForm" style="text-align:center" enctype="multipart/form-data">
<label><b>Enter the title of post you wish to obtain: </b></label>
<!--
    //This programming statement was adapted from Tutsplus:
    //Link: https://code.tutsplus.com/tutorials/form-input-validation-using-only-html5-and-regex--cms-33095
    //Author: Monty Shokeen
    //Author Profile Link: https://tutsplus.com/authors/monty-shokeen
-->
<input type="text" ngModel name="ProvidedPostTitle" size="25" required #ProvidedPostTitle="ngModel" minlength="1" pattern="^[\w-\.}+@([\w-]+\.)+[\w-]{2,4}$" placeholder="Enter a title for your post here"/> 
<br/>
<!--
    //This programming statement was adapted from W3resource:
    //Link: https://www.w3resource.com/angular/form-validation.php
    //Author: W3resource
-->
<div *ngIf="ProvidedPostTitle.invalid &&(ProvidedPostTitle.dirty || ProvidedPostTitle.touched)">The title of the post cannot be empty!</div>     
<br/>
<button type="submit" size="15" name="Get Post">Get Post</button>
</form>
</div>

<div class="Display Data">
    <!--
        //This programming statement was adapted from FreeCodeCamp:
        //Link: https://www.freecodecamp.org/news/angular-ngfor-and-ngif-explained/
        //Author: Nishant Kumar
        //Author Profile Link: https://www.freecodecamp.org/news/author/nishant-kumar/
    -->
    <div *ngIf="Posts.length>1">
     <!--
        //This programming statement was adapted from StackOverflow:
        //Link: https://stackoverflow.com/questions/46087785/display-subscribe-data-in-angular-4
        //Author: Piyush Patel
        //Author Profile Link: https://stackoverflow.com/users/7614848/piyush-patel
    -->
    <pre>{{Posts| json}}</pre>
       
       
       
    </div>

    

